<div class="header">
  <div class="wrapper">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Safeguard">
    </div>
    <div class="buttons">
      <button *ngFor="let button of navigationButtons">{{button}}</button>
    </div>
  </div>
  <div class="main-information">
    <div class="description">
      <div class="title">Never Caught Off-Guard Again</div>
      <p class="text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and
        focus on your core business.</p>
      <button class="learn-more">Learn More</button>
    </div>
    <div class="space-helmet">
      <img src="assets/images/space-helmetf-2.png" alt="space-helmet">
    </div>
  </div>
</div>
