@import "../../../assets/scss/fonts.scss";
@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/media-queries.scss";

.header {
  height: 876px;
  background-color: $yellow;
  padding: 48px 11px 55px 375px;

  @include for-desktop-md {
    padding: 48px 0px 55px 106px;
  }

  @include for-tablet {
    height: 100%;
    padding: 48px 0px 55px 0px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .logo {
      height: 39px;
      width: 192px;

      @include for-tablet {
        height: 100%;
        margin-left: 106px;
      }

      @include for-phone {
        width: 162px;
        height: 35px;
        margin-left: 25px;
      }
    }

    .buttons {
      @include for-tablet {
        display: none;
      }

      button {
        font-family: $ubuntu-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 15px;
        height: 50px;
      }

      button:hover {
        background-color: white;
        border-radius: 12px;
        box-shadow: 4px 4px 8px rgb(0 0 0 / 8%);
      }
    }

    .menu {
      display: none;
      background-image: url("../../../assets/images/Group\ 106.png");

      @include for-tablet {
        display: block;
        width: 30px;
        height: 19px;
        margin-right: 24px;
      }
    }
  }

  .main-information {
    display: flex;
    justify-content: space-between;

    @include for-tablet {
      flex-direction: column;
      align-items: center;
    }

    .description {
      .title {
        font-family: $anton-font;
        width: 437px;
        height: 176px;
        font-style: normal;
        font-weight: 400;
        font-size: 68px;
        line-height: 130%;
        margin-top: 191px;
        text-transform: uppercase;

        @include for-phone {
          margin-top: 68px;
          width: 271px;
          height: 109px;
          left: 24px;
          top: 139px;
          font-size: 42px;
        }
      }

      .text {
        width: 560px;
        height: 58px;
        font-family: $ubuntu-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        margin-top: 33px;

        @include for-phone {
          margin-top: 25px;
          width: 300px;
          height: 66px;
          font-size: 14px;
        }
      }

      .learn-more {
        width: 176px;
        height: 65px;
        font-family: $ubuntu-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        background-color: white;
        margin-top: 63px;
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
        border: none;
        cursor: pointer;

        @include for-phone {
          width: 154px;
          height: 55px;
          position: absolute;
          font-size: 14px;
          line-height: 16px;
          margin-top: 30px;
        }
      }

      .learn-more:hover {
        background-color: #ffffffe3;
      }
    }

    .space-helmet {
      width: 826px;
      height: 647px;
      margin-top: 91px;

      @include for-desktop-md {
        width: 600px;
        height: auto;
        margin-top: 168px;
      }

      @include for-tablet {
        margin-top: 45px;
      }

      @include for-phone {
        margin-top: 112px;
        width: 401px;
        height: 313px;
      }

      img {
        width: 100%;

        @include for-desktop-md {
          object-position: 61px;
        }
      }
    }
  }
}

:host {
  display: block;
  overflow-x: hidden;
}
