<div class="main">
  <div class="title"> <span>What We </span> Do</div>
  <div class="wrapper">
    <div *ngFor="let work of works">
      <div class="squere"></div>
      <div class="work-title" [innerHTML]="work.title"></div>
      <div class="work-description" [innerHTML]="work.description"></div>
      <div class="link">{{work.button}}<p><i class="arrow right"></i></p>
      </div>
    </div>
  </div>
  <div class="title contact" id="contact-us"> <span>Contact</span> Us</div>
  <form class="form" [formGroup]="contactForm" (ngSubmit)="submit()">
    <div class="block">
      <div class="wrapper">
        <label for="fullName"
          [style.color]="contactForm.controls['fullName'].invalid && contactForm.controls['fullName'].touched ? 'rgba(239, 40, 40, 1)' : 'rgba(153, 153, 153, 1)'">Full
          Name</label>
        <input type="text" id="fullName" formControlName="fullName" placeholder="Eugen Ulianov">
      </div>
      <div class="alert" *ngIf="contactForm.controls['fullName'].invalid && contactForm.controls['fullName'].touched">
        Full Name is required
      </div>
    </div>
    <div class="block">
      <div class="wrapper">
        <label for="companyName"
          [style.color]="contactForm.controls['companyName'].invalid && contactForm.controls['companyName'].touched ? 'rgba(239, 40, 40, 1)' : 'rgba(153, 153, 153, 1)'">Company
          Name</label>
        <input type="text" id="companyName" formControlName="companyName" placeholder="Oldmin Company">
      </div>
      <div class="alert"
        *ngIf="contactForm.controls['companyName'].invalid && contactForm.controls['companyName'].touched">
        Company Name is required
      </div>
    </div>
    <div class="block">
      <div class="wrapper">
        <label for="phoneNumber"
          [style.color]="contactForm.controls['phoneNumber'].invalid && contactForm.controls['phoneNumber'].touched ? 'rgba(239, 40, 40, 1)' : 'rgba(153, 153, 153, 1)'">Phone
          Number</label>
        <input type="phone" id="phoneNumber" formControlName="phoneNumber" placeholder="555555555">
      </div>
      <div class="alert"
        *ngIf="contactForm.controls['phoneNumber'].invalid && contactForm.controls['phoneNumber'].touched">
        Phone Number is invalid
      </div>
    </div>
    <div class="block">
      <div class="wrapper">
        <label for="email"
          [style.color]="contactForm.controls['email'].invalid && contactForm.controls['email'].touched ? 'rgba(239, 40, 40, 1)' : 'rgba(153, 153, 153, 1)'">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="Oldmin@gmail.com">
      </div>
      <div class="alert" *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
        E-mail is invalid
      </div>
    </div>
    <div class="block">
      <div class="wrapper">
        <label for="message" [style.color]="'rgba(153, 153, 153, 1)'">Write Us Messages</label>
        <textarea id="message" formControlName="message"
          placeholder="With our global footprint and our specialized team members and partners we know what it takes to make sure that we can deliver a minimum risk environment for our clients."></textarea>
      </div>
    </div>
    <button type="submit" class="submit">Send Message</button>
  </form>
</div>
