<div class="footer-main">
  <div class="main-information">
    <div class="left">
      <img src="../../../assets/images/Header.png" alt="safeguard">
      <p>We are specialist protecting your assets and reputation to make <br>sure you operate risk-free and focus on
        your core business.</p>
      <p><span>Address:</span><br>Hobbemakade 29, 1071 XK, Amsterdam, Netherlands</p>
      <p><span>E-mail:</span><br>safeguard_help@gmail.com</p>
    </div>
    <div class="info">
      <div class="center">
        <div class="title">Main</div>
        <div>Home</div>
        <div>About us</div>
        <div>Our history</div>
        <div>Contact us</div>
      </div>
      <div class="right">
        <div class="title">Services</div>
        <div>Training and Implementation</div>
        <div>Cyber Consultants</div>
        <div>Consultancy and brand protection</div>
        <div>Software</div>
      </div>
    </div>
  </div>
  <hr>
  <p class="logo">Ⓒ Safeguard - all rights reserved</p>
</div>
