<div class="main" id="about-us">
  <div class="statistic">
    <div *ngFor="let information of statisticInformation">
      <p class="information-title"><span>{{information.counter}}</span> {{information.description}}
        <p class="definition" [innerHTML]="information.definition"></p>
    </div>
  </div>
  <div class="main-information">
    <div class="information">
      <div class="title" > <span>WHO WE</span> ARE</div>
      <div class="text">
        <p>With our global footprint and our specialized team members and partners we know what it takes to make sure
          that
          we can deliver <br> a minimum risk environment for our clients.
        </p>
        <br>
        <p> We know that timing is key, when to accelerate and
          when to slow down. Having our clients brand top of mind, we make sure that communication, teamwork and quality
          reports is a given.</p>
        <p class="title-list">A team dedicated to protect your assets and reputation:</p>
        <ul>
          <li><span> experience in minimizing risk and protecting assets</span></li>
          <li><span> experience in minimizing risk and protecting assets</span></li>
        </ul>
      </div>
    </div>
    <div class="image">
      <img src="../../../assets/images/shadow 1.png" alt="shadow">
      <div class="shadow-square"></div>
    </div>-
  </div>
  <div id="button-up" (click)="scrollToTop()" *ngIf="pageYoffset > 0">
    <img src="../../../assets/images/butoon.png" alt="">
  </div>
</div>